:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
}

* {
    margin: 0;
    padding: 0;
    
}

body {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}


input {
    position: absolute;
    background-color: var(--label);
    width: 250px;
    height: 100px;
    appearance: none;
    border-radius: 50px;
    align-items: center;
    display: flex;
    cursor: pointer;
    background-image: url(moon.svg), url(sun.svg);
    background-position: 5px, 155px;
    background-size: 85px;
    
    background-repeat: no-repeat;
   
}

input::before {
    content: "";
    background-color: var(--light);
    width: 90px;
    height: 90px;
    margin-left: 5px;
    position: absolute;
    border-radius: 50px;
    transition: all .3s;
}


input:checked::before {
    transform: translateX(150px);
    
}














